<!DOCTYPE html>
<html>
	<head>
		<meta cherset="UTF-8">
		<title>FlaskApp<</title>

		<style>
        .toggle-button {
            display: block;
            margin-bottom: 10px;   /* ボタン間の間隔 */
        }
        </style>
	</head>
	<body>
		<div>
			<p>text here.</p>
			<button id="show">表示</button>
			
		</div>
		<div class="toggle-container">
			<label class="toggle-button">
				<input type="checkbox", id="A">A
			</label>
			<label class="toggle-button">
				<input type="checkbox", id="B">B
			</label>
			<label class="toggle-button">
				<input type="checkbox", id="C">C
			</label>
			<label class="toggle-button">
				<input type="checkbox", id="D">D
			</label>
			<label class="toggle-button">
				<input type="checkbox", id="E">E
			</label>
		</div>
		<button id="submit">交換</button>

	</body>
</html>